page-home {
  .home-ion-slides {
    height: 80%;
  }

  .custom-divider-1 {
    width: 85%;
    height: 3px;
    background-color: #000000;
    margin-bottom: 10px;
  }

  .ion-card-container {
    height: 63vh;
    width: 100%;
  }

  .align-left {
    text-align: left;
  }

  .remove-padding {
    padding: 0;
  }

  .swipe-help-message {
    font-style: italic;
    color: silver;
    margin: 10px 0 0 0;
  }

  .slides-container {
    height: 63vh;
  }

  .more-button-container {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .tag-spacing {
    margin: 0 5px 5px 0;
  }

  .tech-icon {
    height: 25px;
    margin-right: 5px;
  }

  .slider-background {
    background-color: #f0f8ff;
  }
}
