<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="k-color">K</span><span class="s-color">S</span>tartup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Latest Stories</h4>
  <div class="custom-divider-1"></div>

  <div class="slides-container">
    <ion-slides loop slidesPerView=1.15>
      <ion-slide *ngFor="let item of latest">
        <div class="ion-card-container">
          <ion-card>
            <img [src]="item.post.cover_photo_md_url"/>
            <ion-card-content>
              <ion-card-title class="align-left">
                {{item.post.title}}
              </ion-card-title>
              <p class="align-left">
                {{item.post.description.slice(0, 80)}} <span *ngIf="item.post.description.length > 81">...</span>
              </p>
              <ion-list no-lines>
                <ion-item class="remove-padding">
                  <ion-avatar item-start>
                    <img [src]="item.user.profile_photo_sm_url">
                  </ion-avatar>
                  <h2>{{item.user.name}}</h2>
                  <p>{{item.user.description_short}}</p>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-card-container">
          <ion-card>
            <ion-card-header class="align-left">
              More posts ordered by...
            </ion-card-header>
            <ion-list>
              <button ion-item>
                <ion-icon name="clock" item-start></ion-icon>
                Date posted
              </button>
              <button ion-item>
                <ion-icon name="heart" item-start></ion-icon>
                Popularity
              </button>
              <button ion-item>
                <ion-icon name="eye" item-start></ion-icon>
                Most views
              </button>
            </ion-list>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>



  <h4>Popular Stories</h4>
  <div class="custom-divider-1"></div>
  <ion-card *ngFor="let item of popular">
    <img [src]="item.post.cover_photo_md_url"/>
    <ion-card-content>
      <ion-card-title class="align-left">
        {{item.post.title}}
      </ion-card-title>
      <p class="align-left">
        {{item.post.description.slice(0, 80)}} <span *ngIf="item.post.description.length > 81">...</span>
      </p>
      <ion-list no-lines>
        <ion-item class="remove-padding">
          <ion-avatar item-start>
            <img [src]="item.user.profile_photo_sm_url">
          </ion-avatar>
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.description_short}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{item.post.like_count}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{item.post.comment_count}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div class="more-button-container">
    <button ion-button icon-left>
      <ion-icon name="add"></ion-icon>
      See more popular stories!
    </button>
  </div>


  <h4>Startup Tech Stacks</h4>
  <div class="custom-divider-1"></div>

  <ion-card *ngFor="let item of stacks">
    <ion-card-content>
      <ion-card-title>
        {{item.company.name}}
      </ion-card-title>
      <p>
        <ion-badge class="tag-spacing" *ngFor="let tag of item.company.tags">{{tag}}</ion-badge>
      </p>
      <p>
        {{item.company.description}}
      </p>
      <ion-list no-lines>
        <ion-item class="remove-padding">
          <ion-avatar item-start>
            <img [src]="item.user.profile_photo_sm_url">
          </ion-avatar>
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.description_short}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide *ngFor="let technology of item.technologies" class="slider-background">
        <ion-row>
          <ion-col>
            <button ion-button clear small color="dark">
              <img [src]="returnIcon(technology.name)" class="tech-icon">
              <div>{{technology.name}} ({{technology.category}})</div>
            </button>
          </ion-col>
        </ion-row>
      </ks-swiper-slide>
    </ks-swiper-container>
  </ion-card>

  <div class="more-button-container">
    <button ion-button icon-left>
      <ion-icon name="add"></ion-icon>
      See more tech stacks!
    </button>
  </div>

  <h4>Foreigner-Friendly Jobs</h4>
  <div class="custom-divider-1"></div>

  <ion-card *ngFor="let item of jobs">
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
      <p>
        <ion-badge class="tag-spacing" *ngFor="let tag of item.tags">{{tag}}</ion-badge>
      </p>
      <p>
        {{item.description}}
      </p>
      <ion-list no-lines>
        <ion-item class="remove-padding">
          <ion-avatar item-start>
            <img [src]="item.company.company_logo_sm_url">
          </ion-avatar>
          <h2>{{item.company.name}}</h2>
          <p>{{item.company.description}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide *ngFor="let skill of item.skills" class="slider-background">
        <ion-row>
          <ion-col>
            <button ion-button clear small color="dark">
              <img [src]="returnIcon(skill.name)" class="tech-icon">
              <div>{{skill.name}} ({{skill.level}})</div>
            </button>
          </ion-col>
        </ion-row>
      </ks-swiper-slide>
    </ks-swiper-container>
  </ion-card>

  <ion-searchbar
    placeholder="Not sure? Try searching~"
    (ionInput)="getItems($event)">
  </ion-searchbar>

</ion-content>
